__pycache__/
*.pyc
.venv/
.env
.vscode
kubernetes.sln
*tmp*
*minio*
temp*.py
# .NET / Visual Studio
.vs/
bin/
obj/
artifacts/
TestResults/
*.user
*.suo
*.nupkg
*.snupkg
*.appsettings
# Publish output
publish/
out/
secrets.yaml
# Logs / temp
*.log
*.trace
*.tmp
init.sh
# App settings (lokalne/sekrety)
appsettings.*.local.json
secrets.json
*.terraform/
# Node / frontend
node_modules/
*tfvars
*.tfstate
dist/
build/
.next/
coverage/

# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
