global:
  security:
    allowInsecureImages: true  
apps:
  api:
    service:
      port: 8000
      targetPort: 8000
      nodePort: 30800
    deploy:
      replicas: 1
      image: olomg48/api:latest
      containerPort: 8000
      env:
        INFERENCE_URL: "http://inference-srv:8000"
      secretEnv:
        DB_CONN:
          secretName: connection-string
          secretKey: string
      resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
  inference:
    service:
      port: 8000
      targetPort: 8000
      nodePort: 30801
    deploy:
      replicas: 1
      image: olomg48/inference:latest
      containerPort: 8000
      env: 
        MLFLOW_TRACKING_URI: "http://mlflow-srv:5000"
      resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
          limits:
            memory: "1024Mi"
            cpu: "500m"
  front:
    service:
      port: 8080
      targetPort: 8080
      nodePort: 30880
    deploy:
      replicas: 1
      image: olomg48/front:latest
      containerPort: 8080
      env:
        ApiBaseUrl: "http://api-srv:8000"
      resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
  mlflow:
    service:
      port: 5000
      targetPort: 5000
      nodePort: 30500
    deploy:
      replicas: 1
      image: olomg48/mlflow:latest
      containerPort: 5000
      env:
        AWS_ACCESS_KEY_ID: "admin"
        AWS_SECRET_ACCESS_KEY: "password123"
        MLFLOW_S3_ENDPOINT_URL: "http://app-helm-minio:9000"
        MLFLOW_S3_IGNORE_CONFIG_FILE: "true"
        MLFLOW_PORT: "5000"
      args: 
        - "--host"
        - "0.0.0.0"
        - "--serve-artifacts"
        - "--allowed-hosts"
        - "*" # to do edytowania na killercoda
        - "--artifacts-destination"
        - "s3://mlflow-bucket/"
      resources:
          requests:
            memory: "512Mi"
            cpu: "100m"
          limits:
            memory: "2048Mi"
            cpu: "1000m"

minio:
  enabled: true

  mode: standalone

  rootUser: admin
  rootPassword: password123

  service:
    type: NodePort
    nodePort: 30900     # API S3

  consoleService:
    type: NodePort
    nodePort: 30901     # Web UI
    
  resources:
    requests:
      memory: "512Mi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "500m"